.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2d2d;
  padding: 16px;
}

.navbar__logo {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar__cart-button {
  display: flex;
  align-items: center;
}
