.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2d2d;
  position: relative;
  height: 90px;
}

.navbar__logo {
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}